<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <!-- <ion-back-button></ion-back-button> -->
        <!-- <ion-menu-button></ion-menu-button> -->
      </ion-buttons>
      <ion-title>Главная</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-slides pager="true" [options]="slideOpts" class="medlike-slider">
          <ion-slide>
              <ion-img class="medlike-slider-item" src="/assets/images/image1.jpg"></ion-img>
          </ion-slide>
          <ion-slide class="medlike-slider-item">
              <ion-img src="/assets/images/image2.jpg"></ion-img>
          </ion-slide>
          <ion-slide class="medlike-slider-item">
              <ion-img src="/assets/images/image3.jpg"></ion-img>
          </ion-slide>
        </ion-slides>
      <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card class="home-item-card">
                    <ion-card-content>
                        <ion-icon name="{{icons[0]}}" [style.color]="colors[0]"></ion-icon>
                        <h3> Android </h3>
                    </ion-card-content>
                  </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card class="home-item-card">
                    <ion-card-content>
                        <ion-icon name="{{icons[1]}}" [style.color]="colors[1]"></ion-icon>
                        <h3> Apple </h3>
                    </ion-card-content>
                  </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="6">
                  <ion-card class="home-item-card">
                      <ion-card-content>
                          <ion-icon name="{{icons[2]}}" [style.color]="colors[2]"></ion-icon>
                          <h3> Html5 </h3>
                      </ion-card-content>
                    </ion-card>
              </ion-col>
              <ion-col size="6">
                  <ion-card class="home-item-card">
                      <ion-card-content>
                          <ion-icon name="{{icons[3]}}" [style.color]="colors[3]"></ion-icon>
                          <h3> Gihub </h3>
                      </ion-card-content>
                    </ion-card>
              </ion-col>
            </ion-row>
        </ion-grid>
  </ion-content>
  <ion-footer>
      <ion-toolbar>
        <ion-row>
          <ion-col size="2">
              <menu-action></menu-action>
          </ion-col>
        </ion-row>
        </ion-toolbar>
  </ion-footer>