ion-content {
    border-radius: 20px;
}

.medlike-slider {
    border-radius: 20px;
    margin: 16px;
}

.home-item-card {
    margin: 0;
    background-color: black;
}

.home-item-card ion-icon {
    width: 100%;
    font-size: 60px;
    color: green;
}

.home-item-card h3 {
    color: white;
    text-align: center;
    font-size: 16px;
}